<!DOCTYPE html>
<html>
  <head>
    <body>
      <h1>Create Your Puppy</h1>

      <form method="POST" action="/display_puppy">
        <p>Enter name<input type="text" name="name" /></p>
        <p>Enter breed<input type="text" name="breed" /></p>
        <p>Enter age<input type="text" name="age" /></p>
        <input type="submit" id="submit" />
      </form>

    </body>
  </head>
</html>
